html{
    box-sizing: border-box;
    background:#ffc600;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
}

body{
    margin: 0;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel{
    background:#6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61, -0.1, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.panel1{
    background-image: url('https://images.unsplash.com/photo-1672472249806-e3f4bc3eac6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
}
.panel2{
    background-image: url('https://plus.unsplash.com/premium_photo-1671650125710-d919b446b70a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}
.panel3{
    background-image: url('https://plus.unsplash.com/premium_photo-1670574872504-56cdb36ffa64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
}
.panel4{
    background-image: url('https://images.unsplash.com/photo-1672464173838-4d90d3c77a5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80');
}
.panel5{
    background-image: url('https://images.unsplash.com/photo-1672478865926-4a2a0f862af4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80');
}

/* flex Items */

.panel > *{
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    /* border: 1px solid red; */
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child{transform: translateY(-100%);}
.panel.open-active > *:first-child{transform: translateY(0);}
.panel > *:last-child{transform: translateY(100%);}
.panel.open-active > *:last-child{transform: translateY(0);}


.panel p{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 4px rgba(0,0,0,0.72), 0 0 14px rgba(0,0,0.45);
    font-size: 2em;
}

.panel p:nth-child(2){
    font-size: 4em;
}

.panel.open {
    font-size: 40px;
    flex: 5;
}

.cta{
    color:white;
    text-decoration: none;
}